// Grid Layout
$padding: 20px;
$num_cols: 12;
$gutter: 20px;

// Responsive Breaks
$widescreen: 1200px;
$desktop: 980px;
$tablet: 768px;
$iphone: 480px;

// Colours
$light_grey: #bbb;
$mid_grey: #888;
$dark_grey: #444;
$very_dark_grey: #222;

// Typography
$font_size:18px;
$type_scaling_factor: 1.75;
$line_height: 1.5em;